.priceRange::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -moz-appearance: none;
}

input[type="range"]::-ms-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
}
