.slider::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  -webkit-appearance: none;
}

slider::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  -moz-appearance: none;
}

.slider::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  pointer-events: auto;
}
