.slider::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  -webkit-appearance: none;
}

slider::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  -moz-appearance: none;
}

.slider::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 70%;
  background: #4928ce;
  pointer-events: auto;
  border: solid 4px white;
  pointer-events: auto;
}

.rangeInput input {
  @apply absolute w-full h-[5px] top-[-5px] bg-transparent cursor-pointer pointer-events-none appearance-none;
}

.rangeValue {
  @apply text-white bottom-2 absolute p-1 pointer-events-none w-[40px] text-center;
}
